<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h1>도서변경</h1>
		<div>
			<form action="post">
				<div>
					<label >도서번호</label>
					<input type="number" name="bookid" readonly="readonly" th:value="${item.bookid}">
				</div>
				<div>
					<label >도서명</label>
					<input type="text" name="bookname" th:value="${item.bookname}">
				</div>
				<div>
					<label >출판사</label>
					<input type="text" name="publisher" th:value="${item.publisher}">
				</div>
				<div>
					<label >가격</label>
					<input type="number" name="pirce" th:value="${item.price}">
				</div>
				<div>
					<button>변경</button>
					<a href="../list"><button type="button">취소</button></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>